/* All */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    user-select: none;
}

/* Menu */
.menu {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 200px;
    min-width: 600px;
    margin-bottom: 150px;
    transition: all 5s ease-in-out;
}

.menu:hover {
    transform: scale(1.2);
}

li {
    display: flex;
    margin-right: 30px;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

li:hover {
    transform: scale(1.2);
}

/* Controle de música */
.volume-control {
    height: 4px;
    border-radius: 4px;
    margin: 15px;
    transition: all 0.3s ease-in-out;
}

.volume-control:hover {
    transform: scale(1.2);
    filter: hue-rotate(80deg);
}

.music-control {
    padding: 15px;
}


/* Fim menu */

.texto-central {
    color: white;
    display: block;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 40%;
    z-index: 4;
    padding-top: 25px;
    padding-bottom: 25px;
    /* min-width: 600px; */
    transition: all 1s ease-in-out;
    box-sizing: border-box;
    overflow: auto;
}

.texto-final {
    color: white;
    display: block;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 80%;
    z-index: 3;
    padding-top: 10px;
    padding-bottom: 10px;
    /* min-width: 600px; */
    transition: all 1.5s ease-in-out;
    box-sizing: border-box;
    overflow: auto;
}

.texto-final:hover {
    transform: scale(1.2);
}

.texto-topo {
    color: white;
    display: block;
    position: fixed;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    width: 100%;
    top: 25%;
    z-index: 3;
    padding-top: 10px;
    padding-bottom: 10px;
    /* min-width: 600px; */
    transition: all 1.5s ease-in-out;
    box-sizing: border-box;
    overflow: auto;
    font-size: 2vw;
}

.texto-topo:hover {
    transform: scale(1.2);
}

.texto-central:hover {
    transform: scale(1.2);
}

footer {
    color: white;
    display: block;
    position: absolute;
    font-family: sans-serif;
    font-size: 12px;
    background-color: black;
    z-index: 5;
    /* define a posição como absoluta */
    bottom: 0;
    /* posiciona o footer no rodapé */
    width: 100%;
    /* preenche a largura total da página */
    text-align: center;
    /* centraliza o conteúdo horizontalmente */
    padding: 15px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}



h1 {
    position: relative;
    z-index: 5;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.fundo-logo-git {
    fill: white;
    transition: all 0.3s ease-in-out;
}

.fundo-logo-git:hover {
    transform: scale(1.2);
}



@media only screen and (max-width: 9999px) {
    /* estilos CSS para telas com largura máxima de 600px */

    .font-exo {
        font-family: 'Exo 2', sans-serif;
        font-size: 3vw;
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 100px;
    }

    .font-exo-small {
        font-family: 'Exo 2', sans-serif;
        font-size: 2vw;
        background-color: rgba(0, 0, 0, 0.5);
    }

}
@media only screen and (max-width: 1400px) {
    /* estilos CSS para telas com largura máxima de 600px */
    .font-exo {
        font-family: 'Exo 2', sans-serif;
        font-size: 4vw;
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 100px;
    }

}
@media only screen and (max-width: 600px) {
    /* estilos CSS para telas com largura máxima de 600px */
    .font-exo {
        font-family: 'Exo 2', sans-serif;
        font-size: 5vw;
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 100px;
    }
}

.font-exo-small {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.font-space-mono {
    color: white;
    font-family: 'Space Mono', monospace, sans-serif;
}

/* Plano de fundo */
canvas {
    z-index: 1;
    position: fixed;
    top: -40px;
}