/* All */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    user-select: none;
}

.salas-container {
    display: flex;
    z-index: 999;
    color: white;
    position: absolute;
    flex-direction: column;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Exo 2';
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    margin: 20px;
}

.pixel-index:hover {
    color: rgb(104, 0, 202); 
}

td {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    text-align: center;
}

.timer-container {
    display: flex;
    z-index: 999;
    color: white;
    position: absolute;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 4vw;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    min-width: 300px;
    padding: 40px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
}

button {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    margin: 10px;
    transition: all 1.1s ease-in-out;
}

button:hover {
    transform: scale(1.5s);
}


/* Menu */
@media screen and (min-width: 768px) {
    .menu-botao {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .texto-topo {
        color: white;
        display: block;
        position: fixed;
        text-align: center;
        font-family: 'Exo 2', sans-serif;
        width: 100%;
        top: 25%;
        z-index: 3;
        padding-top: 10px;
        padding-bottom: 10px;
        /* min-width: 600px; */
        transition: all 1.5s ease-in-out;
        box-sizing: border-box;
        overflow: auto;
        font-size: 3vw;
    }

    .texto-topo:hover {
        transform: scale(1.2);
    }

    .texto-central {
        color: white;
        display: block;
        position: fixed;
        text-align: center;
        width: 100%;
        top: 40%;
        z-index: 4;
        padding-top: 25px;
        padding-bottom: 25px;
        transition: all 1s ease-in-out;
        box-sizing: border-box;
        overflow: auto;
    }

    .texto-final {
        color: white;
        display: block;
        position: fixed;
        text-align: center;
        width: 100%;
        top: 80%;
        z-index: 3;
        padding-top: 10px;
        padding-bottom: 10px;
        /* min-width: 600px; */
        transition: all 1.5s ease-in-out;
        box-sizing: border-box;
        overflow: auto;
    }
}

/* Menu para desktop */
nav {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Exo 2', sans-serif;
    min-height: 200px;
    transition: all 5s ease-in-out;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adicionado */
}

nav:hover {
    transform: scale(1.2);
}

/* Menu para dispositivos móveis */
@media screen and (max-width: 768px) {

    nav {
        display: flex;
        align-items: center;
        align-self: center;
        align-content: center;
        padding-top: 20px;
        flex-direction: column;
        height: auto;
        min-height: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    nav li {
        display: block;
        position: relative;
        text-align: center;
        padding-top: 10px;
        margin: 0;
    }

    nav a {
        padding-top: 20px;
        padding: 0px;
    }

    .fundo-logo-git {
        margin-top: 10px;
        display: block;
        position: relative;
        text-align: center;
    }

    nav:hover {
        transform: scale(1.1);
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

    .texto-topo {
        color: white;
        font-size: large;
        display: block;
        position: fixed;
        text-align: center;
        font-family: 'Exo 2', sans-serif;
        width: 100%;
        top: 30%;
        z-index: 3;
        padding-top: 10px;
        margin-top: 70px;
        padding-bottom: 10px;
        transition: all 1.5s ease-in-out;
        box-sizing: border-box;
        overflow: auto;
        font-size: 5vw;
    }

    .texto-central {
        color: white;
        display: block;
        position: fixed;
        text-align: center;
        width: 100%;
        top: 42%;
        z-index: 4;
        padding-top: 25px;
        padding-bottom: 25px;
        transition: all 1s ease-in-out;
        box-sizing: border-box;
        overflow: auto;
    }

    .texto-final {
        color: white;
        display: block;
        position: fixed;
        text-align: center;
        width: 100%;
        top: 70%;
        z-index: 3;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 1.5s ease-in-out;
        box-sizing: border-box;
        overflow: auto;
    }
}

li {
    margin-right: 30px;
    list-style: none;
    transition: all 0.3s ease-in-out;
    flex-direction: row;
}

li:hover {
    transform: scale(1.2);
}

/* Controle de música */
.volume-control {

    height: 4px;
    border-radius: 4px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.volume-control:hover {
    transform: scale(1.2);
    filter: hue-rotate(80deg);
}

.music-control {
    padding: 15px;
}


/* Fim menu */

.texto-final:hover {
    transform: scale(1.2);
}

.texto-central:hover {
    transform: scale(1.2);
}

footer {
    color: white;
    display: block;
    position: absolute;
    font-family: sans-serif;
    font-size: 12px;
    background-color: black;
    z-index: 5;
    /* define a posição como absoluta */
    bottom: 0;
    /* posiciona o footer no rodapé */
    width: 100%;
    /* preenche a largura total da página */
    text-align: center;
    /* centraliza o conteúdo horizontalmente */
    padding: 15px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}



h1 {
    position: relative;
    z-index: 5;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.fundo-logo-git {
    fill: white;
    transition: all 0.3s ease-in-out;
}

.fundo-logo-git:hover {
    transform: scale(1.2);
}



@media only screen and (max-width: 9999px) {
    /* estilos CSS para telas com largura máxima de 600px */

    .font-exo {
        font-family: 'Exo 2', sans-serif;
        font-size: 3vw;
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 100px;
    }

    .font-exo-small {
        font-family: 'Exo 2', sans-serif;
        font-size: 2vw;
        background-color: rgba(0, 0, 0, 0.5);
    }

}

@media only screen and (max-width: 1400px) {

    /* estilos CSS para telas com largura máxima de 600px */
    .font-exo {
        font-family: 'Exo 2', sans-serif;
        font-size: 4vw;
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 100px;
    }

    .font-exo-small {
        font-family: 'Exo 2', sans-serif;
        font-size: 3vw;
        background-color: rgba(0, 0, 0, 0.5);
    }

}

@media only screen and (max-width: 600px) {

    /* estilos CSS para telas com largura máxima de 600px */
    .font-exo {
        font-family: 'Exo 2', sans-serif;
        font-size: 5vw;
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 100px;
    }

    .font-exo-small {
        font-family: 'Exo 2', sans-serif;
        font-size: 4vw;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.font-space-mono {
    color: white;
    font-family: 'Space Mono', monospace, sans-serif;
}

/* Plano de fundo */
canvas {
    z-index: 1;
    position: fixed;
    top: -40px;
}